<div class="row">
    <div class="col">
        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Choose a date" (dateChange)='createGlobe($event.target.value)' [(ngModel)]="currentDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field><br/>
        <mat-radio-group [(ngModel)]='imageType' (change)='createGlobe(currentDate)'>
            <mat-radio-button value="natural">Natural Image</mat-radio-button>
            <mat-radio-button value="enhanced">Enhanced Image</mat-radio-button>
        </mat-radio-group><br/>
        <mat-checkbox id="manualStep" (change)='changeStep()' [(ngModel)]='manualStep'>{{ manualStep ? 'Start Animation' : 'Stop Animation' }}</mat-checkbox><br/>
        <button mat-raised-button (click)='downFrame()' *ngIf='manualStep'><i class="material-icons">arrow_back</i></button>
        <button mat-raised-button (click)='upFrame()' *ngIf='manualStep'><i class="material-icons">arrow_forward</i></button><br />
    </div>
    <div class="col">
        <p *ngIf="data.length == 0">No images for this day :(</p>
        <img *ngFor="let imageName of data; let i = index" [hidden]="i!=selected" src="{{ imageName }}" width="600" height="600">
    </div>
</div>
